*::before, *, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

    @media (max-width: 700) {
        & {
            font-size: 50%;
        }
    }
}
body {
    font-size: $default-font;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2rem;
}
a {
    text-decoration: none;
}
ul,li {
    list-style-type: none;
}
.img-box {
    width: 100%;
    align-content: center;
}
.container {
    width: 70%;
    margin: 0 auto;

    @media (max-width: 650px) {
        width: 100%;
    }
}
.cntr-content {
    text-align: center;
}
.new-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 650px) {
        & {
            width: 100%;

            i {
                display: block;
                width: 100%;
            }
        }
    }
     
    &-2 {
        text-align: center;
    }
}
.default-bg {
    background-color: $primary-bg-color;
}
.bg-pad {
    padding: 4rem 2rem;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-wrap {
    flex: 1;
}