.responsive-nav {
    display: none;
}
@media (max-width: 1024px) {
    .responsive-nav {
        display: block;

        .res-nav {
            float: right;
        padding: 2rem 0;    
         
        .responsive-list {
            display: none;
            max-width: 30rem;
            width: 100%;
    
            &-items {
                display: block;
                padding: 2.5rem 1rem 1rem;
                text-align: left;
    
                &:hover {
                    background-color: $color-light-grey;
                }
            }
        }
    
        &-link {
            color: black;
            font-size: $default-font;
    
            &:hover {
                color: $primary-bg-color;
            }
        }
        
        label.responsive-menu {
            display: block;
            // padding: .1rem 2.5px;
            position: fixed;
            top: 4rem;
            right: 4rem;
            color: black;
            font-size: 3rem;
            z-index: 3;
        }
        input.responsive-menu {
            display: none;
        }
        .responsive-menu:checked ~ .row .responsive-list {
            display: block;
            max-width: 40rem;
            width: 100%;        
        } 
    }
}
        }
        

.cta {
    background-color: $color-text-green;
    color: white;
    border-radius:  2px;
    outline: none;
    offset: 0;
    
    &-link {
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        
    }

    &-big {
        padding: 1.5rem 2.5rem;
        font-size: $default-font;
        font-weight: 500;
    }
}
.cta:hover {
    background-color:#488948 ;
}

.heading-primary {
    color: $color-text-green;
    font-size: 6rem;
    font-weight: 700;
    overflow: auto;

    @media (max-width: 750px) {
        font-size: 5rem;
    }
    @media (max-width: 500px) {
        font-size: 3rem;
    }

    &-sub {
        color: $color-text-green;
        font-size: 4rem;
        font-weight: 700;

        @media (max-width: 750px) {
            font-size: 2rem;
        }
    }
    &-jnr {
        color: $color-text-green;
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: .5rem;
        margin-top: 2rem;

        @media (max-width: 750px) {
            font-size: 2rem;
        }
    }
}

.heading-secondary {
    color: $primary-bg-color;
    font-size: 2.5rem;
    font-weight: 700;
    overflow: auto;

    @media (max-width: 750px) {
        font-size: 2rem;
    }
    @media (max-width: 500px) {
        font-size: 1.5rem;
    }
}
.paragraph {
    color: $color-text-grey;
    font-size: $default-font;
    line-height: 1.5;
    overflow: auto;
    word-wrap: break-word;

    &-white  {
        color: white;
    }
    &-purple {
        color: $primary-bg-color;
    }

    @media (max-width: 700px) {
        font-size: 1.3rem;
    }
}
.audio-text {
    color: $color-text-green;
    font-size: $default-font;
    line-height: 1.7;

    @media (max-width: 750px) {
        font-size: 1.45rem;
    }
}

.port {
    padding: 2rem;
    &-1 {
        background-color: white;
    }
    &-2 {
        background-color: #f7f7f7;
    }
    &-3 {
        background-color: $color-light-grey;
    }

    @media(max-width: 1024px) {
        & {
            display: none;
        }
    }
}

.border {
    content: "";
    width: 3rem;
    border-bottom: 5px solid rgb(0,0,0);
    background: rgba(0, 0, 0, .5); 
}
.story {
    width: 20%;
    padding: 1rem;
    color: white;

    &:not(:last-of-type) {
        margin-right: -5px;
    }

    &-1 {
        background-color: $primary-bg-color;
    }
    &-2 {
        background-color: #f9f9f9;
        color: #8a8a8a;
    }
    &-3 {
        background-color: #dbdbdb;
        color: #8a8a8a;

    }
    i {
        margin-right: 1rem;
        font-size: 5rem;
        padding: 2rem 0 1rem;
    }
    .par {
        display: inline-block;
        word-wrap: break-word;
        width: 10rem;
        font-size: 1.8rem;
    }
}

.input-item {
    padding: 1rem;
    font-size: 1.4rem;

    .full-input {
        display: block;
        font-size: $default-font;
        width: 100%;
        padding: 1rem;
    }

    .label {
        display: block;
        padding-bottom: 2rem;
        font-size: $default-font;

        &-inline {
            display: inline-block;
        }
    }
}

.btn-send {
    padding: 1rem 1.5rem;
    font-size: $default-font;
}