.cta {
    background-color: $color-text-green;
    color: white;
    border-radius:  2px;
    outline: none;
    offset: 0;
    
    &-link {
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        
    }

    &-big {
        padding: 1.5rem 2.5rem;
        font-size: $default-font;
        font-weight: 500;
    }
}
.cta:hover {
    background-color:#488948 ;
}

.heading-primary {
    color: $color-text-green;
    font-size: 6rem;
    font-weight: 700;

    @media (max-width: 750px) {
        font-size: 5rem;
    }

    &-sub {
        color: $color-text-green;
        font-size: 4rem;
        font-weight: 700;
    }
    &-jnr {
        color: $color-text-green;
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: .5rem;
        margin-top: 2rem;
    }
}

.heading-secondary {
    color: $primary-bg-color;
    font-size: 2.5rem;
    font-weight: 700;

    @media (max-width: 750px) {
        font-size: 2rem;
    }
}
.paragraph {
    color: $color-text-grey;
    font-size: $default-font;
    line-height: 1.5;
    &-white  {
        color: white;
    }
    &-purple {
        color: $primary-bg-color;
    }
}
.audio-text {
    color: $color-text-green;
    font-size: $default-font;
    line-height: 1.7;
}

.port {
    padding: 2rem;
    &-1 {
        background-color: white;
    }
    &-2 {
        background-color: #e9e9e9;
    }
    &-3 {
        background-color: $color-light-grey;
    }

    @media(max-width: 1024px) {
        & {
            display: none;
        }
    }
}

.border {
    content: "";
    width: 3rem;
    border-bottom: 5px solid rgba(0,0,0,.5);
    background: rgba(0, 0, 0, .5); 
}
.story {
    width: 20%;
    padding: 2rem 1rem;
    color: white;
    &:not(:last-of-type) {
        margin-right: -5px;
    }

    &-1 {
        background-color: $primary-bg-color;
    }
    &-2 {
        background-color: #f9f9f9;
        color: #8a8a8a;
    }
    &-3 {
        background-color: #dbdbdb;
        color: #8a8a8a;

    }
    i {
        margin-right: 1rem;
    }
}

.input-item {
    padding: 1rem;
    font-size: $default-font;

    .full-input {
        display: block;
        font-size: $default-font;
        width: 100%;
        padding: 1rem;
    }

    .label {
        display: block;
        padding-bottom: 2rem;

        &-inline {
            display: inline-block;
        }
    }
}

.btn-send {
    padding: 1rem 1.5rem;
    font-size: $default-font;
}