.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $primary-bg-color;
    font-size: $default-font;
    color: white;
    padding: .5rem 1rem;
    z-index: 2;

    @include clearfix;

    &-list {
        float: right;
        
        &-items {
            display: inline-table;
        }
    }
    &-link {
        color: white;
        font-size: $default-font;
        padding: .5rem .7rem;
        display: table-cell;
        font-size: 1.2rem;
        vertical-align: middle;
        
        &:hover {
            color: $color-text-green;
        }

        @media(max-width: 800px) {
            & {
                .ph-num {
                    display: none;
                }
            }
        }
    }
    
}
.header {
    color: white;
    font-size: $default-font;
    padding: 2rem 1rem;
    border-bottom: 1px solid #fafafa;
    @include clearfix;

    &-logo-box {
        float: left;

        .header-logo {
            width: 12rem;
        
            @media (max-width: 900px) {
                width: 10rem;
            }
            @media (max-width: 600px) {
                width: 8rem;
            }
        }
    }
    &-container {
        float: right;
    }
    &-list {
        display: inline-table;
        
        &-items {
            display: table-cell;
            font-size: $default-font;
            vertical-align: middle;
            padding: 1rem 1.5rem;
        }
    }
    &-link {
        color: $color-text-grey;

        &:hover {
            color: $primary-bg-color;
        }
        
    }
    &-button {
        width: 15rem;
        padding: 1rem 1.5rem;
        vertical-align: middle;
    }
    @media(max-width: 1024px) {
       & {
            padding: 2rem .5rem 0;
       }
        &-container {
            visibility: hidden;
            opacity: 0;
            width: 0;
            display: none;
        }
    }
}
.about-section{
    padding: 2rem;
    .about-img-box {
        position: relative;

        .about-img {
            width: 70%;
            align-content: center;

        }
        .about-img-details {
            font-size: 1.5rem;
            position: absolute;
            bottom: 2rem;
            right: 4rem;

            &-name {
                color: black;
                font-weight: 400;
            }
            &-title {
                color: $color-text-grey;
                font-weight: 400;
            }
        }
        @media (max-width: 750px) {
            & {
                display: none;
            }
        }
    }
      .about-text {
          width: 80%;

          @media (max-width: 750px) {
            padding: 1rem;
            width: 90vw;
            overflow: scroll;
        }
      }  
}
.team-section {
    padding: 2rem;
    
    .new-row {
        width: 100%;
        max-width: 114rem;
        margin: 0 auto;
    }
    
    &-img {
        padding: 1.3rem .5rem;
        width: 100%;
    }
}
.testimony-section {
    padding: 3rem 4rem 10rem;
    color: white;

    .section-header {
        font-size: 3rem;
        font-weight: 600;
        padding-bottom: 2rem;
        overflow: auto;

        @media (max-width: 750px) {
            font-size: 2rem; 
            padding: 2rem 0 0;
            text-align: center;
        }
    }
    &-img {
        padding-top: 2rem;
    }

    @media (max-width: 650px) {
        .img-box {margin: 0 auto;}
    }    

    @media (max-width: 650px) {
        .col-2-adj {
            display: block;
            width: 90vw;
        }
    }
    @media (max-width: 650px) {
        & {
            margin: 0 auto;
            text-align: center;
        }
    }
}
.section-value {
    padding: 4rem;

    @media(max-width: 750) {
        padding: 1rem;
        width: 100vw;
        border: 1px solid black;
    }
}
.section-story {
    .green-row {
        background-color: $color-text-green;
    }

    @media (max-width: 500px) {
        display: none;
    }
}
.section-cta-btn {
    padding: 5rem 2rem;;
}
.section-contact {

    .contact {
        padding: 1rem;
    }
    .map-container {
        margin: 3rem 0;
        @media (max-width: 650px) {
            & {
               padding: none;
            }
        }
        .map {
            width: 60rem; 
            height: 40rem;

            @media (max-width: 850px) {
                & {
                    width: 40rem;
                    height: 30rem;
                    // display: none;
                }
            }
            @media (max-width: 500px) {
                & {
                    width: 27rem;
                    height: 20rem;
                    // display: none;
                }
            }
        }
    }
    .contact-content {

        .contact-details {
            color: $color-text-grey;
            font-size: $default-font;

            @media (max-width: 750px) {
                font-size: 1.5rem;
            }
        }
    }
    @media (max-width: 700px) {
        .col-2-adj {
            display: block;
            width: 100%;
        }
    }
}

.footer {
    position: relative;
    background-color: $primary-bg-color;
    font-size: $default-font;
    color: white;
    padding: .5rem 2rem;
    @include clearfix;

    &-list {
        float: right;


        &-items {
            display: inline-table;

            @media(max-width: 950px) {
                & {
                    display: block;
                    padding: 0;
                    margin: 0;
                }
            }
            &:not(:last-of-type) {
                &::after {
                    content: "|";
                    display: inline-table;

                    @media(max-width: 950px) {
                        & {
                            content: "";
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &-link {
        color: white;
        font-size: $default-font;
        padding: .5rem .7rem;
        margin: 0;
        display: table-cell;
        font-size: 1.2rem;
        vertical-align: middle;

        @media(max-width: 950px) {
            & {
                display: inline-block;
                width: 100%;
                padding: 1rem .5rem 0 0;
            }
        }

        &:hover {
            color: $color-text-green;
        }
    }
    @media(max-width: 950px) {
        &-copyright {
            text-align: center;
            margin: 0 auto;
            overflow: hidden;
        }
    }
}
